<section class="inicio">
    <h2>¡Bienvenido!<br><br>Seleccione una opción</h2>

    <button class="inicio-opcion" id="btnRegistrarInforme">
        <i class="fa-solid fa-file-circle-plus"></i>
        <span>Registrar informe<br>de comité</span>
    </button>

    <button class="inicio-opcion" id="btnVerInformes">
        <i class="fa-solid fa-folder-open"></i>
        <span>Ver informes<br>registrados</span>
    </button>

    <!-- CONTENIDO INFORMATIVO -->
    <div class="inicio-info">

        <div class="info-card destacada">
            <i class="fa-solid fa-cross"></i>
            <p>
                <em>
                    “{{VERSICULO_TEXTO}}”
                    <br>
                    <strong>{{VERSICULO_CITA}}</strong>
                </em>
            </p>
        </div>
        
        <hr>
        
        <div class="info-card">
            <i class="fa-solid fa-circle-info"></i>
            <p>
                Esta aplicación ha sido creada para ayudar a los secretarios de cada comité
                a registrar las actividades realizadas durante el mes.
            </p>
        </div>

        <div class="info-card">
            <i class="fa-solid fa-list-check"></i>
            <p><strong>¿Cómo funciona?</strong></p>

            <ul>
                <li>En Registrar.</li>
                <li>Seleccione su comité.</li>
                <li>Complete la información en el formulario.</li>
                <li>Envíe el informe y compártalo si es necesario.</li><br>
                <li>Posteriormente también podra ver su informe registrado.</li>
            </ul>
        </div>

        <div class="info-nota">
            <i class="fa-solid fa-shield-heart"></i>
            <span>
                La información registrada es importante.<br>
                Revísela antes de enviarla.
            </span>
        </div>

    </div>
</section>