<section class="menu">
    <h2>{{MES_ANO}}
    <br>
    Seleccione su Comité</h2>

    <button class="btn" data-comite="JuntaLocal">Junta Local</button>
    <button class="btn" data-comite="EscuelaDominical">Escuela Dominical</button>
    <button class="btn" data-comite="Jovenes">Jóvenes</button>
    <button class="btn" data-comite="DamasDorcas">Damas Dorcas</button>
    <button class="btn" data-comite="Musica">Música</button>
    <button class="btn" data-comite="Misiones">Misiones</button>
    <button class="btn" data-comite="Refam">REFAM</button>
    <button class="btn" data-comite="MinisterioEstudiantil">Ministerio Estudiantil</button>
    <button class="btn" data-comite="ObraSocial">Obra Social</button>
    <button class="btn" data-comite="Comunicaciones">Comunicaciones</button>
</section>