<section class="menu-informes">
    <h2>INFORMES REGISTRADOS</h2>
    <h2>Seleccione el comité a consultar</h2>

    <button class="btn btn-informe" data-informe="JuntaLocal">Junta Local</button>
    <button class="btn btn-informe" data-informe="EscuelaDominical">Escuela Dominical</button>
    <button class="btn btn-informe" data-informe="Jovenes">Jóvenes</button>
    <button class="btn btn-informe" data-informe="DamasDorcas">Damas Dorcas</button>
    <button class="btn btn-informe" data-informe="Musica">Música</button>
    <button class="btn btn-informe" data-informe="Misiones">Misiones</button>
    <button class="btn btn-informe" data-informe="Refam">REFAM</button>
    <button class="btn btn-informe" data-informe="MinisterioEstudiantil">Ministerio Estudiantil</button>
    <button class="btn btn-informe" data-informe="ObraSocial">Obra Social</button>
    <button class="btn btn-informe" data-informe="Comunicaciones">Comunicaciones</button>
</section>