<!-- INFORME: Comunicaciones -->
<section class="informe-comite">
    
    <h2 data-comite="Comunicaciones">COMUNICACIONES</h2>
    
    <h2 class="informe-registrado">Informe registrado</br>{{MES_ANO}}</h2>

    <!-- PROMEDIO -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup>
          <col class="col-campo">
          <col class="col-valor">
        </colgroup>
        <thead>
          <tr><th>Promedio</th><th class="value-header">Valor</th></tr>
        </thead>
        <tbody>
          <tr>
            <td>Promedio de asistencia general</td>
            <td><span id="promedio_asistencia_general"></span></td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES ESPIRITUALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup>
          <col class="col-campo">
          <col class="col-valor">
        </colgroup>
        <thead>
          <tr><th>Actividades Espirituales</th><th class="value-header">Valor</th></tr>
        </thead>
        <tbody>
          <tr><td>Cadenas de oración</td><td><span id="cadenas_de_oracion"></span></td></tr>
          <tr><td>Ayunos</td><td><span id="ayunos"></span></td></tr>
          <tr><td>Cultos</td><td><span id="cultos"></span></td></tr>
          <tr><td>Vigilias</td><td><span id="vigilias"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES SOCIALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup>
          <col class="col-campo">
          <col class="col-valor">
        </colgroup>
        <thead>
          <tr><th>Actividades Sociales</th><th class="value-header">Valor</th></tr>
        </thead>
        <tbody>
          <tr><td>Integraciones</td><td><span id="integraciones"></span></td></tr>
          <tr><td>Mesas redondas</td><td><span id="mesas_redondas"></span></td></tr>
          <tr><td>Cumpleaños</td><td><span id="cumpleanos"></span></td></tr>
          <tr><td>Recreación e integración</td><td><span id="recreacion_e_integracion"></span></td></tr>
          <tr><td>Seminarios</td><td><span id="seminarios"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES ECONÓMICAS -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup>
          <col class="col-campo">
          <col class="col-valor">
        </colgroup>
        <thead>
          <tr><th>Actividades Económicas</th><th class="value-header">Valor</th></tr>
        </thead>
        <tbody>
          <tr><td>Ventas</td><td><span id="ventas"></span></td></tr>
          <tr><td>Votos</td><td><span id="votos"></span></td></tr>
          <tr><td>Talentos</td><td><span id="talentos"></span></td></tr>
          <tr><td>Donaciones a terceros</td><td><span id="donaciones_terceros"></span></td></tr>
        </tbody>
      </table>
    </div>

</section>
