<!-- INFORME: Ministerio Estudiantil -->
<section class="informe-comite">
    
    <h2 data-comite="MinisterioEstudiantil">MINISTERIO ESTUDIANTIL</h2>

    <h2 class="informe-registrado">Informe registrado</br>{{MES_ANO}}</h2>
    <!-- REGISTRO GENERAL -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup>
          <col class="col-campo">
          <col class="col-valor">
        </colgroup>

        <thead>
          <tr>
            <th>Registro General</th>
            <th class="value-header">Valor</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Núm. Escuelas</td>
            <td><span id="numero_escuelas"></span></td>
          </tr>

          <tr>
            <td>Núm. Colegios</td>
            <td><span id="numero_colegios"></span></td>
          </tr>

          <tr>
            <td>Núm. Universidades</td>
            <td><span id="numero_universidades"></span></td>
          </tr>

          <tr>
            <td>Total de entregados</td>
            <td><span id="total_entregados"></span></td>
          </tr>

          <tr>
            <td>Total de reconciliados</td>
            <td><span id="total_reconciliados"></span></td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

<script src="../scripts/mostrarInforme.js"></script>
</body>
</html>
