<!-- INFORME: Misiones -->
<section class="informe-comite">
    
    <h2 data-comite="Misiones">MISIONES</h2>

    <h2 class="informe-registrado">Informe registrado</br>{{MES_ANO}}</h2>

    <!-- PROMEDIO -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Promedio</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>Promedio de asistencia general</td><td><span id="promedio_asistencia_general"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES ESPIRITUALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Actividades Espirituales</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>Cadenas de oración</td><td><span id="cadenas_de_oracion"></span></td></tr>
          <tr><td>Ayunos</td><td><span id="ayunos"></span></td></tr>
          <tr><td>Cultos</td><td><span id="cultos"></span></td></tr>
          <tr><td>Vigilias</td><td><span id="vigilias"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES SOCIALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Actividades Sociales</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>Integraciones</td><td><span id="integraciones"></span></td></tr>
          <tr><td>Mesas redondas</td><td><span id="mesas_redondas"></span></td></tr>
          <tr><td>Cumpleaños</td><td><span id="cumpleanos"></span></td></tr>
          <tr><td>Seminarios</td><td><span id="seminarios"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES ECONÓMICAS -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Actividades Económicas</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>Ventas</td><td><span id="ventas"></span></td></tr>
          <tr><td>Votos</td><td><span id="votos"></span></td></tr>
          <tr><td>Talentos</td><td><span id="talentos"></span></td></tr>
          <tr><td>Donaciones a terceros</td><td><span id="donaciones_terceros"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- LUGARES DE PREDICACIÓN -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Lugares de Predicación</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>Cantidad</td><td><span id="lugares_predicacion_cantidad"></span></td></tr>
          <tr><td>Líderes</td><td><span id="lugares_predicacion_lideres"></span></td></tr>
          <tr><td>Entregados</td><td><span id="lugares_predicacion_entregados"></span></td></tr>
          <tr><td>Reconciliados</td><td><span id="lugares_predicacion_reconciliados"></span></td></tr>
          <tr><td>Abiertos</td><td><span id="lugares_predicacion_abiertos"></span></td></tr>
          <tr><td>Cerrados</td><td><span id="lugares_predicacion_cerrados"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- CAMPAÑAS -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Campañas</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>Cantidad</td><td><span id="campanas_cantidad"></span></td></tr>
          <tr><td>Entregados</td><td><span id="campanas_entregados"></span></td></tr>
          <tr><td>Reconciliados</td><td><span id="campanas_reconciliados"></span></td></tr>
        </tbody>
      </table>
    </div>

</section>