<!-- INFORME: Obra Social -->
<section class="informe-comite">
    
    <h2 data-comite="ObraSocial">OBRA SOCIAL</h2>

    <h2 class="informe-registrado">Informe registrado</br>{{MES_ANO}}</h2>

    <!-- PROMEDIO -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>

        <thead>
          <tr><th>Promedio</th><th class="value-header">Valor</th></tr>
        </thead>

        <tbody>
          <tr><td>Promedio de asistencia general</td><td><span id="promedio_asistencia_general"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- CASOS SOCIALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>

        <thead>
          <tr><th>Casos Sociales</th><th class="value-header">Valor</th></tr>
        </thead>

        <tbody>
          <tr><td>Operaciones</td><td><span id="operaciones"></span></td></tr>
          <tr><td>Tratamientos médicos</td><td><span id="tratamientos_medicos"></span></td></tr>
          <tr><td>Calamidades domésticas</td><td><span id="calamidades_domesticas"></span></td></tr>
          <tr><td>Atención a discapacitados</td><td><span id="atencion_discapacitados"></span></td></tr>
          <tr><td>Damnificados</td><td><span id="damnificados"></span></td></tr>
          <tr><td>Canastas entregadas</td><td><span id="canastas_entregadas"></span></td></tr>
          <tr><td>Exequias</td><td><span id="exequias"></span></td></tr>
          <tr><td>Brigadas médicas</td><td><span id="brigadas_medicas"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES ESPIRITUALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>

        <thead>
          <tr><th>Actividades Espirituales</th><th class="value-header">Valor</th></tr>
        </thead>

        <tbody>
          <tr><td>Cadenas de oración</td><td><span id="cadenas_de_oracion"></span></td></tr>
          <tr><td>Ayunos</td><td><span id="ayunos"></span></td></tr>
          <tr><td>Cultos</td><td><span id="cultos"></span></td></tr>
          <tr><td>Vigilias</td><td><span id="vigilias"></span></td></tr>
          <tr><td>Mes / Semana obra social</td><td><span id="mes_semana_obra_social"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES SOCIALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>

        <thead>
          <tr><th>Actividades Sociales</th><th class="value-header">Valor</th></tr>
        </thead>

        <tbody>
          <tr><td>Integraciones</td><td><span id="integraciones"></span></td></tr>
          <tr><td>Mesas redondas</td><td><span id="mesas_redondas"></span></td></tr>
          <tr><td>Cumpleaños</td><td><span id="cumpleanos"></span></td></tr>
          <tr><td>Recreación e integración</td><td><span id="recreacion_e_integracion"></span></td></tr>
          <tr><td>Seminarios</td><td><span id="seminarios"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES ECONÓMICAS -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>

        <thead>
          <tr><th>Actividades Económicas</th><th class="value-header">Valor</th></tr>
        </thead>

        <tbody>
          <tr><td>Ventas</td><td><span id="ventas"></span></td></tr>
          <tr><td>Votos</td><td><span id="votos"></span></td></tr>
          <tr><td>Talentos</td><td><span id="talentos"></span></td></tr>
          <tr><td>Donaciones a terceros</td><td><span id="donaciones_terceros"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- OBRA INCLUSIVA -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>

        <thead>
          <tr><th>Obra Inclusiva</th><th class="value-header">Valor</th></tr>
        </thead>

        <tbody>
          <tr><td>Disc. Auditiva</td><td><span id="disc_auditiva"></span></td></tr>
          <tr><td>Disc. Física</td><td><span id="disc_fisica"></span></td></tr>
          <tr><td>Disc. Intelectual</td><td><span id="disc_intelectual"></span></td></tr>
          <tr><td>Disc. Lingüística</td><td><span id="disc_linguistica"></span></td></tr>
          <tr><td>Disc. Visual</td><td><span id="disc_visual"></span></td></tr>
          <tr><td>Disc. Psicosocial</td><td><span id="disc_psicosocial"></span></td></tr>
          <tr><td>Disc. Múltiple</td><td><span id="disc_multiple"></span></td></tr>
        </tbody>
      </table>
    </div>

</section>