<!-- INFORME: Refam -->
<section class="informe-comite">
    
    <h2 data-comite="Refam">REFAM</h2>

    <h2 class="informe-registrado">Informe registrado</br>{{MES_ANO}}</h2>

    <!-- ACTIVIDADES ESPIRITUALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Actividades Espirituales</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>Cantidad</td><td><span id="cantidad"></span></td></tr>
          <tr><td>Líderes</td><td><span id="lideres"></span></td></tr>
          <tr><td>Integrantes</td><td><span id="integrantes"></span></td></tr>
          <tr><td>Obra técnica</td><td><span id="obra_etnica"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES SOCIALES -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Actividades Sociales</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>Entregados</td><td><span id="entregados"></span></td></tr>
          <tr><td>Reconciliados</td><td><span id="reconciliados"></span></td></tr>
          <tr><td>Encuentros</td><td><span id="encuentros"></span></td></tr>
          <tr><td>REFAM Étnicos</td><td><span id="refam_etnicos"></span></td></tr>
        </tbody>
      </table>
    </div>

    <!-- ACTIVIDADES ECONÓMICAS -->
    <div class="table-wrapper">
      <table class="data-grid">
        <colgroup><col class="col-campo"><col class="col-valor"></colgroup>
        <thead><tr><th>Actividades Económicas</th><th class="value-header">Valor</th></tr></thead>
        <tbody>
          <tr><td>REFAM Abiertos</td><td><span id="refam_abiertos"></span></td></tr>
          <tr><td>REFAM Cerrados</td><td><span id="refam_cerrados"></span></td></tr>
          <tr><td>Asistencia a la REFAM</td><td><span id="asistencia_refam"></span></td></tr>
          <tr><td>Asistencia REFAM al templo</td><td><span id="asistencia_refam_templo"></span></td></tr>
          <tr><td>Bautizados REFAM</td><td><span id="bautizados_refam"></span></td></tr>
        </tbody>
      </table>
    </div>

</section>