<!-- FORMULARIO: Comunicaciones -->
<section class="formularios">
    
    <h2 data-comite="Comunicaciones">COMUNICACIONES</h2>

    <!-- PROMEDIO -->
    <h2>Promedio</h2>
    <div class="row"><label>Promedio de asistencia general</label><input type="number" placeholder="–" name="promedio_asistencia_general"></div>

    <!-- ACTIVIDADES ESPIRITUALES -->
    <h2>Actividades Espirituales</h2>
    <div class="row"><label>Cadenas de oración</label><input type="number" placeholder="–" name="cadenas_de_oracion"></div>
    <div class="row"><label>Ayunos</label><input type="number" placeholder="–" name="ayunos"></div>
    <div class="row"><label>Cultos</label><input type="number" placeholder="–" name="cultos"></div>
    <div class="row"><label>Vigilias</label><input type="number" placeholder="–" name="vigilias"></div>

    <!-- ACTIVIDADES SOCIALES -->
    <h2>Actividades Sociales</h2>
    <div class="row"><label>Integraciones</label><input type="number" placeholder="–" name="integraciones"></div>
    <div class="row"><label>Mesas redondas</label><input type="number" placeholder="–" name="mesas_redondas"></div>
    <div class="row"><label>Cumpleaños</label><input type="number" placeholder="–" name="cumpleanos"></div>
    <div class="row"><label>Recreación e integración</label><input type="number" placeholder="–" name="recreacion_e_integracion"></div>
    <div class="row"><label>Seminarios</label><input type="number" placeholder="–" name="seminarios"></div>

    <!-- ACTIVIDADES ECONÓMICAS -->
    <h2>Actividades Económicas</h2>
    <div class="row"><label>Ventas</label><input type="number" placeholder="–" name="ventas"></div>
    <div class="row"><label>Votos</label><input type="number" placeholder="–" name="votos"></div>
    <div class="row"><label>Talentos</label><input type="number" placeholder="–" name="talentos"></div>
    <div class="row"><label>Donaciones a terceros</label><input type="number" placeholder="–" name="donaciones_terceros"></div>
</section>