<!-- FORMULARIO: Jovenes -->
<section class="formularios">

    <h2 data-comite="Jovenes">JÓVENES</h2>

    <!-- PROMEDIO -->
    <h2>Promedio</h2>
    <div class="row"><label>Promedio de asistencia general</label><input name="promedio_asistencia_general" type="number" placeholder="–"></div>

    <!-- ACTIVIDADES ESPIRITUALES -->
    <h2>Actividades Espirituales</h2>
    <div class="row"><label>Cadenas de oración</label><input name="cadenas_de_oracion" type="number" placeholder="–"></div>
    <div class="row"><label>Ayunos</label><input name="ayunos" type="number" placeholder="–"></div>
    <div class="row"><label>Cultos</label><input name="cultos" type="number" placeholder="–"></div>
    <div class="row"><label>Vigilias</label><input name="vigilias" type="number" placeholder="–"></div>
    <div class="row"><label>Semana / Mes Juvenil</label><input name="semana_mes_juvenil" type="number" placeholder="–"></div>
    <div class="row"><label>Intercambio de cultos</label><input name="intercambio_de_cultos" type="number" placeholder="–"></div>
    <div class="row"><label>Cultos de preparación</label><input name="cultos_de_preparacion" type="number" placeholder="–"></div>

    <!-- ACTIVIDADES SOCIALES -->
    <h2>Actividades Sociales</h2>
    <div class="row"><label>Integraciones</label><input name="integraciones" type="number" placeholder="–"></div>
    <div class="row"><label>Mesas redondas</label><input name="mesas_redondas" type="number" placeholder="–"></div>
    <div class="row"><label>Cumpleaños</label><input name="cumpleanos" type="number" placeholder="–"></div>
    <div class="row"><label>Recreación e integración</label><input name="recreacion_e_integracion" type="number" placeholder="–"></div>
    <div class="row"><label>Foros</label><input name="foros" type="number" placeholder="–"></div>

    <!-- ACTIVIDADES ECONÓMICAS -->
    <h2>Actividades Económicas</h2>
    <div class="row"><label>Ventas</label><input name="ventas" type="number" placeholder="–"></div>
    <div class="row"><label>Votos</label><input name="votos" type="number" placeholder="–"></div>
    <div class="row"><label>Talentos</label><input name="talentos" type="number" placeholder="–"></div>
    <div class="row"><label>Donaciones a terceros</label><input name="donaciones_terceros" type="number" placeholder="–"></div>

</section>