<!-- FORMULARIO: Ministerio Estudiantil-->
<section class="formularios">

    <h2 data-comite="MinisterioEstudiantil">MINISTERIO ESTUDIANTIL</h2>

    <!-- MINISTERIO ESTUDIANTIL -->
    <h2>Registro General</h2>
    <div class="row"><label>Núm. Escuelas</label><input type="number" placeholder="–" name="numero_escuelas"></div>
    <div class="row"><label>Núm. Colegios</label><input type="number" placeholder="–" name="numero_colegios"></div>
    <div class="row"><label>Núm. Universidades</label><input type="number" placeholder="–" name="numero_universidades"></div>
    <div class="row"><label>Total de entregados</label><input type="number" placeholder="–" name="total_entregados"></div>
    <div class="row"><label>Total de reconciliados</label><input type="number" placeholder="–" name="total_reconciliados"></div>

</section>